:root {
	--bg: #ededf6;				/*light blue*/
	--primary-color: #526582;	/*soft blue*/
	--secondary-color: #92cccd;	/*teal*/
	--third-color: #31343d;		/*charcoal*/
}

* {
}

body {
	background-color: var(--bg);
}

/* HEADER */
header {
	display: flex;
	justify-content: space-between;
	background-color: var(--third-color);
}

.name {
	color: var(--third-color);
	background-color: var(--secondary-color);
}

nav ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;
}

nav ul li {
	padding: 5px;
	margin: 2px;
	border-bottom: 2px solid var(--secondary-color);
	color: var(--secondary-color);
}

/* HERO */
.hero {
	height: 100px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	background-image: url("../images/weathered_snow_fences.jpg");
	background-size: cover;
	background-position: center;
}

.subtitle {
	color: var(--third-color);
	background-color: var(--secondary-color);
}

/* ARTICLE */
article {
	display: flex;
	color: var(--primary-color);
	background-color: var(--bg);
}

.title {
	flex: 0 0 auto;
	padding: 5px 10px;
	border-right: 2px solid var(--primary-color);
	width: 150px;
}

h2 {
	padding: 0;
	margin: 0;
	font-size: 25px;
}

/* CONTACT ME */
.contact-info {
	flex: 1 0 auto;
}

.contact-info ul {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	padding: 0;
}

.contact-info ul li {
	padding: 5px;
	margin: 2px;
	border-bottom: 2px solid var(--primary-color);
}

/* DEBUG */
/* * { */
	/* border: 1px solid red; */
/* } */
	