:root {
	--bg: #ededf6;				/*light blue*/
	--primary-color: #526582;	/*soft blue*/
	--secondary-color: #92cccd;	/*teal*/
	--third-color: #31343d;		/*charcoal*/
	--right-margin-large: 80px;
	--right-margin-small: 10px;
}

* {
}

a {
	text-decoration: none;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: var(--bg);
	padding: 0;
	margin: 0;
}

/* HEADER */
header {
	display: flex;
	justify-content: space-between;
	background-color: var(--third-color);
	height: 85px;
	align-items: center;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 9999;
}

.name {
	display: flex;
	padding: 0;
	margin: 0;
}

.name a {
	color: var(--third-color);
}

h1 {
	margin: 0;
	padding: 5px 15px 5px 30px;
	background-color: var(--secondary-color);
	font-size: 40px;
}

nav ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0 var(--right-margin-large) 0 0;
	align-items: flex-end;
}

nav ul li {
	padding: 10px;
	margin: 5px;
	border-bottom: 4px solid var(--secondary-color);
	font-size: 16px;
}

nav ul li a {
	color: var(--secondary-color);
}

/* HERO */
.hero {
	height: 200px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	background-image: url("../images/weathered_snow_fences.jpg");
	background-size: cover;
	background-position: center;
}

.subtitle {
	color: var(--third-color);
	background-color: var(--secondary-color);
	margin: 25px var(--right-margin-large);
	padding: 15px;
	font-size: 26px;
}

/* ARTICLE */
article {
	display: flex;
	color: var(--primary-color);
	background-color: var(--bg);
	padding: 36px 0px 10px 0px;
}

.title {
	flex: 0 0 auto;
	padding: 5px 10px;
	border-right: 4px solid var(--primary-color);
	width: 150px;
	margin-right: 35px;
	margin-left: 35px;
}

h2 {
	padding: 0;
	margin: 0;
	font-size: 41px;
	text-align: right;
}

.about-text {
	margin-right: var(--right-margin-large);
}

/* PROJECTS */
.work-projects {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right: var(--right-margin-large);
	max-height: 600px;
	flex: 1 0 0;
}

.project {
	border: 4px solid var(--secondary-color);
	padding: 0;
	margin: 8px;
	height: 170px;
	min-width: 300px;
	flex: 1 0 170px;
	display: flex;
	align-items: flex-end;
	background-size: cover;
	opacity: 0.5;
	position: relative;	/*needed for the link to work*/
}

.project:hover {
	opacity: 1.0;
}

.project a { 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;
  
  /* This one is crazy: */
  /* The anchor is invisible, but is set to fill the entire .project div */
  /* So that you can click anywhere in the div and the anchor is there to link you to the site */
}  

.project-title {
	background-color: var(--secondary-color);
	padding: 17px 10px 10px 12px;
	margin: 0;
	margin-bottom: 20px;
}

h3 {
	margin: 0;
	padding: 0;
	padding-bottom: 12px;
	font-size: 20px;
}

.project-title p {
	margin: 0;
	padding: 0;
	font-size: 10px;
}

/* INDIVIDUAL PROJECTS */
.project:first-child {
	height: 364px;
	flex: 1 0 364px;
}

#surf-report {
	background-image: url("../images/tiki_torch.jpg");
}

#led-wall {
	background-image: url("../images/christmas_lights.jpg");
}

#calculator {
	background-image: url("../images/mechanical_calculator.jpg");
}

#pastel-puzzles {
	background-image: url("../images/puzzle.jpg");
}

#run-buddy {
	background-image: url("../images/run-buddy-preview.png");
}

/* CONTACT ME */
.contact-info {
	flex: 1 0 auto;
	display: flex;
	align-items: center;
}

.contact-info ul {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	padding: 0;
	flex: 1;
	margin-right: var(--right-margin-large);
	flex-wrap: wrap;
	/* max-width: 70vw; */
}

.contact-info ul li {
	padding: 5px;
	margin: 2px;
	border-bottom: 4px solid var(--primary-color);
	font-size: 16px;
}

.contact-info a {
	color: black;
}

/* media queries */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
	header {
		position: relative;
	}
	
	.work-projects {
		flex-direction: row;
		max-height: none;
	}

	.project:first-child {
		height: 250px;
		flex: 1 0 250px;
	}
}

@media screen and (max-width: 768px) {
	.title {
		margin-right: 10px;
		margin-left: 0;
		padding-left: 0;
		width: 120px;
	}
	
	h1 {
		font-size: 30px;
	}
	
	h2 {
		font-size: 30px;
		margin-left: 0;
	}
	
	nav ul, .subtitle, .about-text, .work-projects, .contact-info ul  {
		margin-right: var(--right-margin-small);
	}
	
	.subtitle {
		margin-bottom: var(--right-margin-small);
	}
	
	.about-text p {
		margin: 5px 0;
	}
	
	article {
		padding: 15px 0;
	}
	
	.work-projects {
	}
	
	.project {
		min-width: 300px;
		margin: 8px 0 0 0;
	}
	
	.project:last-child {
		margin-bottom: 8px;
	}
	
	.contact-info ul {
		flex: 0 1 70vw;;
	}
}

@media screen and (max-width: 575px) {
	header {
		flex-direction: column;
		height: 135px;
	}
	
	header ul {
		padding: 0;
		margin-right: 0;
	}
	
	header ul li {
		padding-bottom: 2px;
	}
	
	.hero {
		height: 100px;
	}
	
	.subtitle {
		font-size: 16px;
		margin: 10px;
		padding: 8px;
	}
	
	article {
		flex-direction: column;
	}
	
	.title {
		border-right: none;
		border-bottom: 4px solid var(--primary-color);
		width: 100%;
	}
	
	h2 {
		text-align: center;
	}
	
	.about-text {
		margin: 0 8px;
	}
	
	.work-projects {
		margin: 0 8px;
	}
	
	.contact-info ul {
		margin: 0;
		width: 100%;
		flex: none;
	}
}

/* smallest reasonable size: 360px */

/* DEBUG */
/* * { */
	/* border: 1px solid red; */
/* } */
	